.agents/skills/docx/scripts/office/schemas/microsoft/wml-symex-2015.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:w12="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
            xmlns:s="http://schemas.openxmlformats.org/officeDocument/2006/sharedTypes" elementFormDefault="qualified"
            attributeFormDefault="qualified" blockDefault="#all"
            xmlns="http://schemas.microsoft.com/office/word/2015/wordml/symex"
            targetNamespace="http://schemas.microsoft.com/office/word/2015/wordml/symex">
    <xsd:import id="w12" namespace="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
                schemaLocation="../ISO-IEC29500-4_2016/wml.xsd"/>
    <xsd:import id="s" namespace="http://schemas.openxmlformats.org/officeDocument/2006/sharedTypes"
                schemaLocation="../ISO-IEC29500-4_2016/shared-commonSimpleTypes.xsd"/>
    <xsd:complexType name="CT_SymEx">
        <xsd:attribute name="font" type="s:ST_String"/>
        <xsd:attribute name="char" type="w12:ST_LongHexNumber"/>
    </xsd:complexType>
    <xsd:element name="symEx" type="CT_SymEx"/>
</xsd:schema>
